.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

input[type='text'],
select {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

button{
  outline: none;
  cursor: pointer;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.pagination li {
  margin-right: 0.5rem;
}

.pagination button {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  outline: none;
}

.pagination button:hover {
  background-color: #ccc;
}

.pagination .active button {
  background-color: #333;
  color: #fff;
}

@media (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }

  input[type='text'],
  select {
    width: 80%;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem;
  }
}
